body{
margin-left: 0px;
display: flex;
flex-direction: column;
align-items:center;
font-family: fantasy;
background-color:peru
}



button{
    padding-top: 200px;
    padding: 50px;
    border: none;
    border-radius: 15px;
    font-family: fantasy;
    font-weight: 300;
    margin: 20px;
    
}
#message{
    background-color: rgb(227, 227, 227);
    padding: 40px;
    margin-top: 10px;
    border: 4px solid black;
    border-radius: 12px;
}
#rock{
    background-color: green;
}
#paper{
    background-color: blue;
}
#scissors{
    background-color: red;
}

